body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Set your desired background color */
}

.sidebar {
    background-color: #333; /* Set your sidebar background color */
    color: #000; /* Set your text color to black */
    text-align: center;
    padding: 20px;
    width: 250px; /* Adjust the sidebar width as needed */
    position: fixed;
    height: 100%;
}

.sidebar img {
    width: 100px; /* Set your image width as needed */
    height: 100px; /* Set your image height as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.title {
    font-size: 24px;
    margin: 0;
}

nav {
    margin-top: 20px; /* Adjust the margin as needed */
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px; /* Adjust the spacing between menu items as needed */
}

.menu li a {
    text-decoration: none;
    color: #000; /* Set your menu item text color to black */
    font-size: 16px; /* Set your desired font size */
}

.content {
    margin-left: 250px; /* Adjust the margin from the left to accommodate the sidebar width */
    text-align: center;
    margin-top: 40px; /* Adjust the margin from the top as needed */
}

.text-box {
    background-color: #f0f0f0; /* Set your desired text box background color */
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
}
